html, body {
    min-height: 100vh;
    min-width: 100vw;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

.wrapper-padded {

    /*padding: 20px;*/
}

html {
    font-size: 16px;
}

header {
    height: 80px;
    /*padding: 20px;*/
}


.slide {
    width: 100vw;
    height: 100vh;
    clear: both;


}

.bg-sunset {
    background: url('../assets/bg.jpg') no-repeat center;
    background-size: 100% 100%;

}

.width-full {
    width: 100vw;
    height: 100vh;
}

.logo {

    -webkit-mask-image: url('../assets/mask.png');
    float: left;
    display: block;
}

.logo-wrapper {
    padding-left: 20px;
}

.logo-text > a {
    display: block;
    width: 313px;
    height: 67px;
    font-size: 3.125em;
    font-family: 'aktiv-grotesk-std', 'Helvetica Neue Light', 'Segoe UI Light', Lato, Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 55px;
    border: 6px rgb(255, 255, 255) solid;
    text-align: center;

}


.main-nav {
    height: 100%;
    float: right;

}

.nav-menu {
    list-style: none;
    display: block;
    float: right;
    width: 100%;


}





.nav-item > a {

    font-family: 'aktiv-grotesk-std', 'Helvetica Neue Light', 'Segoe UI Light', Lato, Arial, sans-serif;
    font-size: 1.125em;
    height: 100%;
    line-height: 80px;
    font-weight: 200;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;

}


.nav-item > a:hover,
.nav-item > a:active,
.nav-item:hover,
.nav-item:active {

    background-color: rgba(7, 4, 24, 0.49);

}




.callout {
    font-size: 4em;
    font-family: 'aktiv-grotesk-std', 'Helvetica Neue Light', 'Segoe UI Light', Lato, Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;

    font-weight: 200;
    width: 550px;
    height: 151px;
    margin: 100px auto auto;

}



.hidden-desktop {
    display:none;
}

/** REsponsive **/
@media only screen and (max-width: 760px) {
    .hidden-phone {
        display: none !important;
    }

    img.visible-phone {
        display: block !important;
    }

    .nav-item {
        background: rgba(40, 36, 44, 0.5);

    }


    .nav-item > a:hover,
    .nav-item > a:active,
    .nav-item:hover,
    .nav-item:active
    {
        background-color: rgba(144, 100, 79, 0.5);
    }


    html {
        font-size: 20px;
    }


    .collapse-phone {

    }
}



