
<header class="section group">
    <div class="span_1_of_3 col logo-wrapper">
        <div class="logo-text logo">
            <a class="hidden-phone" href="#">LIAM WHAN</a>
            <img src="assets/Menu_Button_R.png" class="visible-phone hidden-desktop collapse-trigger" alt="Expand Menu" data-collapse-target="#main-nav">
        </div>
    </div>
    <div class="col span_1_of_3"></div>
    <nav class="col span_1_of_3">
        <ul id="main-nav" class="nav-menu section group" data-collapsed="false">
            <li class="nav-item col span_1_of_5"><a href="#home">HOME</a></li>
            <li class="nav-item col span_1_of_5"><a href="#work">WORK</a></li>
            <li class="nav-item col span_1_of_5"><a href="#hire">HIRE ME</a></li>
            <li class="nav-item col span_1_of_5"><a href="#blog">BLOG</a></li>
            <li class="nav-item col span_1_of_5"><a href="#contact">CONTACT</a></li>


        </ul>

    </nav>


</header>